.chat{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 170, 170);
    font-size: 1.5rem;
}

.chat-messages{
    flex-grow: 1;
    overflow-y: auto;
    overflow-wrap: break-word;
    font-size: 1em;
    padding: 2%;
    background-color: burlywood;
}

.chat-messages > div p{
    margin:0;
    display:inline;
}

.chat-messages > div a{
    display:inline-block;
    font-weight: bold;
}

.chat-messages > div a:link, .chat-messages > div a:visited{
    color: black;
}

.chat-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1em;
}

.chat-input input{
    flex-grow: 1;
    min-width: 0;
    font-size: 1em;
}

.chat-input button{
    font-size: 1em;
}

@media only screen and (max-width: 1567px) {
    .chat{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1001px) {
    .chat{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .chat{
        font-size: 0.6rem;
    }
}