.fill{
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height:6%;
    font-size: 1.5rem;
}

#navbar > div:first-child{
    background-color: rgb(47, 46, 45);
}

#content-div{
    height:94%;
}

#navbar a{
    text-decoration: none;
    border:none;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    background-color: rgb(47, 46, 45);
    color: rgb(176, 133, 70);
    width: 100%;
    height: 100%;
}

#navbar p{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
}

#navbar a:hover{
    background-color: rgb(29, 29, 28);
}

#navbar .dropdown{
    position: relative;
    display:flex;
    flex-direction: column;
    background-color: rgb(47, 46, 45);
}

#navbar .dropdown-content{
    z-index:1;
    display: none;
    flex-direction: column;
}

#navbar .dropdown:hover .dropdown-content{
    display: flex;
}

#navbar .unreadBadge{
    background-color:rgb(227, 73, 73);
    border-radius: 50%;
    padding: 0.2em 0.4em;
    color: white;
}

@media only screen and (max-width: 1567px) {
    #navbar{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1001px) {
    #navbar{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    #navbar{
        font-size: 0.6rem;
    }
}