.computer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: gainsboro;
    width: 70%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}

.computer-left-column, .computer-right-column{
    background-color: gainsboro;
}

.computer-left-column{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;
}

.computer-right-column{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.computer-moves-div{
    height: 75%;
    width: 100%;
}

.computer-buttons{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.computer-buttons button{
    width: 5em;
    height: 5em;
    background-size: 100% 100%;
}

.computer-back-button{
    background-image: url(../../public/back.svg);
}

.computer-restart-button{
    background-image: url(../../public/restart.svg);
}

.computer-board-container{
    width: 100%;
    height: 100%;
}