.notfoundpopup{
    height: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.notfoundpopup p{
    margin: 0;
    font-size: 1.2em;
}

.notfoundpopup button{
    width: 50%;
    font-size: 1em;
}

@media only screen and (max-width: 1567px) {
    .notfoundpopup{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1367px) {
    .notfoundpopup{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .notfoundpopup{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 800px) {
    .notfoundpopup{
        width: 50%;
    }
}

@media only screen and (max-width: 361px) {
    .notfoundpopup{
        font-size: 0.7rem;
    }
}

.profile-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: gainsboro;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.profile-bio-container{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    position: relative;
}

.profile-bio-container h2{
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}

.profile-bio-container > div{
    flex: 1 1 auto;
    background-color: rgb(144, 139, 139);
    margin: 2%;
    padding: 1% 2% 2% 1%;
    overflow-y: auto;
}

.profile-bio-container p{
    margin: 0;
    word-break: break-word;
}

.profile-bio-container textarea{
    height: 100%;
    width: 100%;
    font-size: 1em;
}

.profile-bio-container button{
    font-size: 1.1em;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 2%;
}

.profile-bio-container > p {
    text-align: center;
}

.profile-bio-container .profile-bio-report-btn{
    position: absolute;
    top:0;
    right: 0;
    background-image: url(../../public/report.svg);
    background-size: 100% 100%;
    width: 2em;
    height: 2em;
}

.profile-bottom-container{
    flex: 1 1 55%;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.profile-messages-container{
    width: 50%;
    height: 100%;
}

.profile-messagebox-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.profile-mymessages-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-messagesbox-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-messagesbox-navbar p{
    font-size: 1.2em;
    margin: 0;
}

.profile-messagesbox-navbar button{
    position: absolute;
    left: 2%;
    background-image: url(../../public/back.svg);
    background-size: 100% 100%;
    width: 3em;
    height: 3em;
}

.profile-mymessages-content-container{
    flex: 1 1 auto;
    overflow: auto;
    margin:2%;
}

.profile-messagebox-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: rgb(95, 89, 89);
}

.profile-messagebox-user:hover{
    font-size: 1.1em;
}

.profile-messagebox-message-container{
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: rgb(95, 89, 89);
    background-color: rgb(120 115 115);
}

.profile-messagebox-message-container p{
    margin: 0.2em
}

.profile-messagebox-message-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-reply-div{
    display: flex;
    flex-direction: column;
    padding: 0 2% 0% 2%;
    box-sizing: border-box;
}

.profile-reply-div textarea{
    flex: 1 1 auto;
    font-size: 1em;
}

.profile-reply-div button{
    font-size: 1em;
}

.profile-sendmessage-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-sendmessage-container button{
    font-size: 1.2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.profile-sendmessage-container textarea{
    flex: 1 1 auto;
    margin: 2%;
    font-size: 1em;
}

.profile-sendmessage-container > p{
    font-size: 1.2em;
    text-align: center;
    margin:0;
}

.profile-match-history-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-match-history-container > p{
    font-size: 1.2em;
    text-align: center;
    margin:0;
}

.profile-matchhisotrybox-container{
    flex: 1 1 auto;
    margin: 2%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.profile-matchhisotrybox-container p{
    margin:0;
}

.profile-matchhistory-element-container{
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    background-color: rgb(120, 115, 115);
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: rgb(95, 89, 89);
}

.profile-matchhistory-element-container:hover{
    font-size: 1.2em;
}

.profile-matchhistory-element-container div{
    text-align: center;
    margin:1%;
}

.profile-matchhistory-middle-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 4%;
}

.profile-matchhistory-middle-div p:first-of-type{
    color: white;
}

.profile-win-background{
    background-color: rgb(101 118 94);
}

.profile-lose-background{
    background-color: rgb(137 94 94);
}

.profile-report-popup-container{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    z-index: 2;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    border-radius: 5%;
}

.profile-report-popup-container button{
    font-size: 1em;
}

@media only screen and (max-width: 1567px) {
    .profile-container{
        font-size: 1rem;
    }
    .profile-messagesbox-navbar button{
        width: 2em;
        height: 2em;
    }
}

@media only screen and (max-width: 1367px) {
    .profile-container{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .profile-container{
        padding: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 0.8rem;
    }
    .profile-bio-container{
        height: 45%;
    }
    .profile-bio-container button{
        margin-right: auto;
    }
    .profile-bottom-container{
        flex-direction: column;
        width: 100%;
        height: 55%;
        overflow: inherit;
    }
    .profile-messages-container{
        width: 100%;
        background: gainsboro;
    }
    .profile-match-history-container{
        width: 100%;
        background: gainsboro;
    }
    .profile-messagesbox-navbar button{
        width: 1.7em;
        height: 1.7em;
    }
}