.notfoundpopup{
    height: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.notfoundpopup p{
    margin: 0;
    font-size: 1.2em;
}

.notfoundpopup button{
    width: 50%;
    font-size: 1em;
}

@media only screen and (max-width: 1567px) {
    .notfoundpopup{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1367px) {
    .notfoundpopup{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .notfoundpopup{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 800px) {
    .notfoundpopup{
        width: 50%;
    }
}

@media only screen and (max-width: 361px) {
    .notfoundpopup{
        font-size: 0.7rem;
    }
}

.profile-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: gainsboro;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.profile-bio-container{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
}

.profile-bio-container h2{
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}

.profile-bio-container > div{
    flex: 1 1 auto;
    background-color: rgb(144, 139, 139);
    margin: 2%;
    padding: 1% 2% 2% 1%;
    overflow-y: auto;
}

.profile-bio-container p{
    margin: 0;
    word-break: break-word;
}

.profile-bio-container button{
    font-size: 1em;
    width: 10%;
    height: 10%;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 2%;
}


.profile-bottom-container{
    flex: 1 1 55%;
    background-color: rgb(99, 99, 107);
}