.replay-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peru;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}

.replay-moveslist-btn-container button, .replay-switch-btn{
    background-color: burlywood;
}

.replay-left-div-container{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;
}

.replay-middle-div-container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.replay-right-div-container{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;
    justify-content: space-around;
}

.replay-moveslist-container{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding-bottom: 5%;
}

.replay-moveslist-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.replay-moveslist-btn-container button{
    width: 45%;
}

.replay-previous-btn, .replay-next-btn{
    background-image: url(../../public/back.svg);
    background-size: 100% 100%;
    position: relative;
    height: 3em;
}

.replay-next-btn{
    transform: rotate(180deg);
}

.replay-switch-btn{
    background-image: url(../../public/restart.svg);
    background-size: 100% 100%;
    position: relative;
    width: 4em;
    height: 4em;
    margin-top: 10%;
    left:50%;
    transform: translateX(-50%);
}

.replay-right-div-container p, .replay-right-div-container a{
    font-size: 3em;
    margin:0;
    padding:0;
}

.replay-right-div-container a{
    font-weight: bold;
}

.replay-right-div-container a:link, .replay-right-div-container a:visited{
    color: black;
}

.replay-user-timer-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
}

.replay-user-timer-top p, .replay-user-timer-top a{
    padding-top: 10%;
}

.replay-user-timer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
}

.replay-user-timer-bottom p{
    padding-bottom: 10%;
}

.replay-messages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: center;
}

.replay-messages p{
    font-size: 1.8em;
}

@media only screen and (max-width: 1537px) {
    .replay-left-div-container div button{
        height: 3em;
    }
    .replay-left-div-container > button{
        height: 3em;
        width: 3em;
    }

    .replay-right-div-container p, .replay-right-div-container a{
        font-size: 2.5em;
    }

    .replay-messages p{
        font-size: 1.3em;
    }

}

@media only screen and (max-width: 1360px) {
    .replay-messages p{
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 1200px) {
    .replay-left-div-container{
        order:0;
    }
    .replay-middle-div-container{
        order:1;
        width: 70%;
    }
    .replay-left-div-container{
        width: 30%;
    }
    .replay-right-div-container{
        order:2;
        height: 40%;
        width: 100%;
        flex-direction: row;
        text-align: center;
        background-color: peru;
        align-items: center;
    }
    .replay-user-timer-top p:first-child{
        order:1;
    }
    .replay-user-timer-top p, .replay-user-timer-top a{
        padding:0;
    }
    .replay-user-timer-bottom p{
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .replay-left-div-container div button{
        height: 2.5em;
    }
    .replay-left-div-container > button{
        height: 3em;
        width: 3em;
    }
    .replay-right-div-container{
        height: 30%;
    }
    .replay-right-div-container p, .replay-right-div-container a{
        font-size: 2em;
    }

    .replay-messages p{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 800px) {
    .replay-left-div-container div button{
        height: 2.5em;
    }
    .replay-left-div-container > button{
        height: 3em;
        width: 3em;
    }
    .replay-right-div-container{
        height: 20%;
    }
    .replay-right-div-container p, .replay-right-div-container a{
        font-size: 1.2em;
    }
    .replay-messages p{
        font-size: 0.8em;
    }

    .replay-container{
        width: 100%;
        left: 0;
    }
    .replay-middle-div-container{
        width: 100%;
        order: 0;
    }
    .replay-left-div-container{
        width: 100%;
        order:1;
        height: 30%;
        background-color: peru;
    }
    .replay-moveslist-container{
        padding: 0;
    }
    .replay-moveslist-btn-container{
        margin-top:2%;
    }
    .replay-switch-btn{
        margin-top:2%;
    }
}

@media only screen and (max-width: 461px) {
    .replay-middle-div-container{
        height: 80%;
    }
    .replay-left-div-container div button{
        height: 2em;
    }
    .replay-left-div-container > button{
        height: 2em;
        width: 2em;
    }
    .replay-right-div-container{
        height: 15%;
    }
    .replay-right-div-container p, .replay-right-div-container a{
        font-size: 1em;
    }
    .replay-messages p{
        font-size: 0.7em;
    }
}